@import "reset";

@mixin eventBox($direction, $percent) {
  float: $direction;
  width: $percent;
}

.event {
  overflow: hidden;
  padding: 100px 0;

  img {
    display: block;
  }

  h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.event_left {
  @include eventBox(left, 66%);

  margin-right: 2%;

  .event_box1 {
    @include eventBox(left, 50%);
  }

  .event_box2 {
    @include eventBox(left, 50%);
  }
}

.event_right {
  @include eventBox(left, 32%);
}
