@import "reset";

$footer__textColor: #8f8f8f;

@mixin icon($x, $y) {
  background-position: $x $y;
}

#footer {
  background: #211f1f;
}

.footer_sns {
  position: absolute;
  right: 17px;
  top: 33px;
  z-index: 1;

  li {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 4px;
  }

  // 트위터 아이콘
  li.s1 {
    @include icon(0, -375px);

    &:hover {
      @include icon(0, -411px);
    }
  }

  // 페이스북 아이콘
  li.s2 {
    @include icon(-36px, -375px);

    &:hover {
      @include icon(-36px, -411px);
    }
  }

  // 인스타그램 아이콘
  li.s3 {
    @include icon(-72px, -375px);

    &:hover {
      @include icon(-72px, -411px);
    }
  }

  // 구글 플레이 아이콘
  li.s4 {
    @include icon(-108px, -375px);

    &:hover {
      @include icon(-108px, -411px);
    }
  }

  // 앱스토어 아이콘
  li.s5 {
    @include icon(-144px, -375px);

    &:hover {
      @include icon(-144px, -411px);
    }
  }
}

.tel {
  text-align: right;
  padding-top: 5px;

  a {
    color: $footer__textColor;
    font-size: 21px;
    em {
      color: #fff;
    }
  }
}

.footer_infor {
  padding: 50px 0;
  width: 80%;

  img {
    width: 150px;
  }

  ul {
    padding: 15px 0;
  }

  li {
    position: relative;
    display: inline;
    padding-right: 16px;
    white-space: nowrap;

    a {
      color: $footer__textColor;
    }

    &:after {
      content: "";
      position: absolute;
      right: 5px;
      top: 5px;
      width: 1px;
      height: 11px;
      background: $footer__textColor;
    }

    &:last-child:after {
      width: 0;
      height: 0;
    }
  }

  p {
    color: $footer__textColor;
    padding-bottom: 15px;
  }
}
