@import "reset";

#movie {
  background-color: #f2f2f2;
}

.movie {
  padding: 100px 0;

  .movie_title {
    overflow: hidden;
    margin-bottom: 60px;

    ul {
      overflow: hidden;
      width: 848px;
      margin: 0 auto;
    }

    li {
      float: left;
      width: 210px;
      margin-right: -1px;
      text-align: center;
      border: 1px solid #c4c4c4;

      a {
        display: block;
        padding: 15px 0;
        font-size: 18px;
        color: #666;
        font-weight: 700;
      }
    }

    li.active {
      a {
        background: #666;
        color: #fff;
      }
    }
  }
}

.movie_chart {
  overflow: hidden;

  .swiper-slide {
    // 'swiper-slide' is Swiper Slide Component Class
    display: inline-block;
    width: 292px;
    margin-right: 23px;

    // ============ poster ==============
    .poster {
      position: relative;

      img {
        display: block;
      }

      .rank {
        position: absolute;
        top: 17px;
        left: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: #38116a;
        text-align: center;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
      }

      strong {
        color: #fff;
        font-size: 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

      .mx {
        position: absolute;
        top: 17px;
        right: 17px;
      }

      span {
        width: 103px;
        height: 25px;
        display: block;
      }
    }

    // ============ infor ==============
    .infor {
      background: #fff;
      padding: 17px;
      border: 1px solid #d9d9d9;

      h3 {
        color: #333;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;

        strong {
          padding-left: 0px;
        }

        span {
          width: 29px;
          height: 29px;
          display: inline-block;
          margin-top: 9px;
          vertical-align: -2px;
        }
      }

      .infor_btn {
        overflow: hidden;

        a {
          display: block;
          float: left;
          width: 49%;
          margin-right: 2%;
          padding: 10px 0;
          text-align: center;
          background: #f2f2f2;
          color: #666;
          font-size: 18px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .swiper-slide:last-child {
    margin-right: 0;
  }
}
