@import "reset";

@mixin iconStar($x, $y) {
  background-position: $x $y;
}

.new {
  padding: 100px 0;
  overflow: hidden;
  position: relative;

  h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

// =============== left ================
.new_left {
  position: relative;
  margin-right: 423px;
  height: 500px;
  overflow: hidden;
  background: #ccc url("../assets/new01.jpg") center center;
  background-size: cover;
}

.play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  cursor: pointer;

  .st0 {
    @extend .st1;
    opacity: 0.3;
  }
  .st1 {
    fill: #fff;
  }
}

// =============== right ================
.new_right {
  position: absolute;
  right: 0;
  top: 165px;
  width: 400px;
  height: 500px;
  background: #f0f0f0;
  padding: 34px;
  box-sizing: border-box;

  .title {
    font-size: 28px;
    color: #000;
  }

  .release {
    font-size: 15px;
    color: #333;
  }

  .star {
    padding: 13px 0;

    strong {
      font-size: 18px;
      padding-left: 5px;
    }

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: -3px;
    }

    .star0 {
      @include iconStar(-374px, 0);
    }
    .star1 {
      @include iconStar(-393px, 0);
    }
    .star2 {
      @include iconStar(-412px, 0);
    }
  }

  .summary {
    font-size: 14px;

    .genre {
      padding-bottom: 3px;
    }

    .age {
      padding-bottom: 10px;
    }

    .desc {
      margin-bottom: 20px;
      height: 108px;
      overflow: hidden;
    }
  }

  .select {
    overflow: hidden;

    .s1 {
      float: left;
      width: 49%;
      margin-right: 2%;
    }

    .s2 {
      float: left;
      width: 49%;
      background: #2c2f34;

      select::-ms-expand {
        display: none;
      }
    }

    .s3 {
      float: left;
      width: 100%;
      margin-top: 2%;

      input:-ms-input-placeholder {
        color: #ccc;
      }

      input::placeholder {
        color: #ccc;
        opacity: 1;
      }
    }
  }

  .btn {
    overflow: hidden;
    margin-top: 2%;
    text-align: center;

    a {
      float: left;
      width: 49%;
      box-sizing: border-box;
      padding: 10px 30px 12px 30px;
      display: block;
    }
  }

  .white {
    margin-right: 2%;
    background-color: #fff;
    color: #3a0e6a;
    border: 1px solid #3a0e6a;
  }

  .purple {
    background-color: #3a0e6a;
    color: #fff;
    border: 1px solid #6e40c4;
  }
}
