@import "reset";

@mixin opening_headline($x, $y, $display, $width, $height) {
  background-position: ($x) ($y);
  display: ($display);
  width: ($width);
  height: ($height);
}

#opening {
  margin: 24px 0;
  background: url("./assets/bg01.jpg") no-repeat center top;
  background-size: cover;
}

.opening {
  padding: 100px 0;
  text-align: center;
  color: #bb9b51;

  h2 {
    margin-bottom: 15px;
  }

  .grand {
    @include opening_headline(0, -175px, inline-block, 330px, 50px);
  }

  .date {
    @include opening_headline(0, -225px, inline-block, 260px, 45px);
  }

  .desc {
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 20px;
    background: url("./assets/bar.png") no-repeat bottom center;
    background-size: 100%;
  }
}

.open_boxes {
  overflow: hidden;
  padding: 20px 3% 0 3%;

  .open_box {
    float: left;
    width: 27.333%;
    margin: 4% 3% 0 3%;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #3e4b44;

    .box_title {
      color: #fff;
      border: 1px solid #6e3abb;
      margin-top: -24px;
      font-size: 19px;
      display: inline-block;
      padding: 10px 20px;
      background: #551e9b;
    }

    .box_content {
      font-size: 27px;
      color: #fff;
      font-weight: 300;
      padding: 6% 0 10% 0;

      .box_state {
        display: block;
      }

      .box_location {
        @extend .box_state;
        font-weight: 700;
      }
    }
  }
}
